
*{
	margin: 0;
	padding: 0;
	border: none;
	
}
html,body{
	width: 100%;
	height: :100%;
	overflow: hidden;

}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*菜单*/
.main{
	width: 480px;
	height: 100%;
	background: url(../images/bg.jpg) repeat-y;
	margin: auto;
}
.main #list{
	width: 200px;
	height: 300px;
	margin: auto;
	position: absolute;
	left: 0;right: 0;top: 100px;
}
.main #list li{
	width:  198px;
	height: 75px;
	background: #f40;
	color: white;
	font-size: 25px;
	font-family: "微软雅黑";
	line-height: 75px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid black;
	margin-bottom: 20px;
	cursor: pointer;
}
/*************/
/*加载页面*/
.logo {
	width: 428px;
	height: 104px;
	background: url(../images/logo.png) no-repeat;
	margin: auto;
	position: absolute;
	left: 0;right: 0;top: 25%;
}

.loading{
	width: 200px;
	height: 40px;
	background: url(../images/loading1.png) no-repeat;
	margin: auto;
	position: absolute;
	left: 0;right: 0;top: 60%;
}
/***************/
/*游戏页面*/
/*我的飞机*/
.myplane{
	 width: 98px;
	 height: 122px;
	 background: url(../images/me.png) no-repeat;
	 position: absolute;
}

/*子弹*/
.bullet{
	width: 7px;
	height: 18px;
	background: url(../images/bullet.png) no-repeat;
	position: absolute;
}
/*子弹销毁*/
.bullet-die{
	width: 40px;
	height: 43px;
	background: url(../images/die1.png) no-repeat;
	position: absolute;
}
/*小型飞机*/
.enemy-small{
	width: 59px;
	height: 36px;
	background: url(../images/plane1.png) no-repeat;
	position: absolute;
}
/*中型飞机*/
.enemy-middle{
	width: 70px;
	height: 92px;
	background: url(../images/plane2.png) no-repeat;
	position: absolute;
}
.enemy-large{
	width: 165px;
	height: 256px;
	background: url(../images/plane3.png) no-repeat;
	position: absolute;
}
